language: node_js
node_js:
- lts/*
if: tag IS present
before_install:
- openssl aes-256-cbc -K $encrypted_7973e6fb5433_key -iv $encrypted_7973e6fb5433_iv
  -in id_rsa_yangyong.enc -out ~\/.ssh/id_rsa_yangyong -d
- chmod 600 ~/.ssh/id_rsa_yangyong
- echo -e "Host 121.36.50.216\n\tStrictHostKeyChecking no\n\tIdentityFile ~/.ssh/id_rsa_yangyong"
  >> ~/.ssh/config
addons:
  ssh_known_hosts: 121.36.50.216
install:
- npm i
script:
- npm run build
after_success:
- cd ./dist/
- echo 准备移动至指定文件夹...
- travis_wait 30 scp -o stricthostkeychecking=no -rC ./* root@121.36.50.216:/root/dxhy/eslint-config-dxhy
- "echo website published!\U0001F60A"
deploy:
  provider: npm
  edge: true
  email: "$NPM_EMAIL"
  api_key: "$NPM_TOKEN"
  on:
    tags: true
    repo: ele-cloud/eslint-config-dxhy
  skip_cleanup: true
after_deploy:
- "echo npm published!\U0001F60A"
cache:
  directories:
  - "$HOME/.npm"
